/* Navbar  */

.nav-active {
  font-weight: 700 !important;
  color: var(--primary-color) !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-local {
  /* background-color: #24252a; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.logo img {
  cursor: pointer;
  width: 150px;
  border-radius: 10%;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 1rem;
}

.nav__links_local a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links_local {
  /* background-color: #9d7e7e; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links_local li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links_local li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #8e9597;
}

.nav__links_local li a:hover {
  color: #8e9597;
}

.cta {
  padding: 1rem 4rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.header a {
  text-decoration: none;
}
.cta:hover {
  background-color:var(--secondary-color);
  color: white;
}

/* Mobile Nav */

.menu {
  display: none;
}
.menu i {
  color: #000000;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 10px;
  font-size: 2rem;
  display: block;
  transition: color 0.3s ease 0s;
  color: aliceblue;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }

  .nav__links_local,
  .cta {
    display: none;
  }

  .menu {
    display: initial;
    color: #16191a;
    font-size: 2rem;
    font-weight: 100;
  }
  .logo img {
    width: 120px;
  }
}
